<!DOCTYPE html>
<html>
{{template "template/head.html" .}}
<style>
    p {
        line-height: 2;
    }
    .index-cart{
        height: 139px !important;
        border: 1px solid #ccc;
    }
</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div id="add_cluster_html"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title-box">
                        <span class="dashabord-title">全局大盘</span>
                        <ol class="breadcrumb p-0 m-0">
                            <li>
                                <a href="#">快捷入口</a>
                            </li>
                        </ol>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- end row -->
                <div id="detail_used_id">

                </div>
                <div class="col-sm-12 top-10">
                </div>
                <div class="col-md-12 top10">
                    <div id="cluster_html_content_id">
                    </div>
                    <!-- end row -->
                </div><!-- end col -->
                <!-- end row -->
            </div>
        </div> <!-- container -->

    </div> <!-- content -->
    <div class="row m-l-10">
        <div class="col-sm-2">
            <div class="wigdet-four-content pull-left">
                <p class="font-secondary text-muted">容器管理</p>
            </div>
        </div><!-- end col -->
    </div>
    <div class="col-sm-12"></div>
    <div class="row m-l-10">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="shortcut-box clearfix">
                <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/application/app/list')">
                    <div style="background: rgb(89, 214, 172);">
                        <i class="fa fa-car"></i>
                        <p>应用管理</p>
                    </div>
                </li>
                <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/application/service/list')">
                        <div style="background: rgb(130, 213, 255);">
                            <i class="fa fa-car"></i>
                            <p>服务管理</p>
                        </div>
                    </li>
                    <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/application/container/list')"
                    onmousemove="setBorderMove($(this))"
                 onmouseout="setBorderOut($(this))">
                            <div style="background: rgb(233, 108, 150);">
                                <i class="fa fa-car"></i>
                                <p>容器管理</p>
                            </div>
                        </li>
            </ul>
        </div>
    </div>
    <div class="row m-l-10">
        <div class="col-sm-2">
            <div class="wigdet-four-content pull-left">
                <p class="font-secondary text-muted">镜像管理</p>
            </div>
        </div><!-- end col -->
    </div>
    <div class="row m-l-10">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="shortcut-box clearfix">
                        <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/image/registry/group/list')">
                            <div style="background: rgb(130, 213, 255);">
                                <i class="fa fa-car"></i>
                                <p>镜像仓库组</p>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
    <div class="row m-l-10">
        <div class="col-sm-2">
            <div class="wigdet-four-content pull-left">
                <p class="font-secondary text-muted">编排管理</p>
            </div>
        </div><!-- end col -->
    </div>
    <div class="row m-l-10">


            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="shortcut-box clearfix">
                        <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/ci/job/list')">
                            <div style="background: rgb(130, 213, 255);">
                                <i class="fa fa-car"></i>
                                <p>构建项目</p>
                            </div>
                        </li>
                        <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/pipeline/list')">
                            <div style="background: rgb(130, 213, 255);">
                                <i class="fa fa-car"></i>
                                <p>流水线项目</p>
                            </div>
                        </li>
                        <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/ci/batch/list')">
                            <div style="background: rgb(130, 213, 255);">
                                <i class="fa fa-car"></i>
                                <p>部署配置</p>
                            </div>
                        </li>
                        <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/ci/dockerfile/list')">
                            <div style="background: rgb(130, 213, 255);">
                                <i class="fa fa-car"></i>
                                <p>Dockerfile</p>
                            </div>
                        </li>
                    </ul>
                </div>

    </div>
    <div class="row m-l-10">
        <div class="col-sm-2">
            <div class="wigdet-four-content pull-left">
                <p class="font-secondary text-muted">基础设施</p>
            </div>
        </div><!-- end col -->
    </div>
    <div class="row m-l-10">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="shortcut-box clearfix">
                        <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/base/quota/list')">
                            <div style="background: rgb(130, 213, 255);">
                                <i class="fa fa-car"></i>
                                <p>资源配额</p>
                            </div>
                        </li>
                        <li class="col-xs-4 col-sm-4 col-md-3 col-lg-3" onclick="loadpage('/base/network/lb/list')">
                            <div style="background: rgb(130, 213, 255);">
                                <i class="fa fa-car"></i>
                                <p>负载均衡</p>
                            </div>
                        </li>
                      
                    </ul>
                </div>
    </div>
{{template "template/bottom.html" .}}
    </body>
</div>
<script>

    /**
     * 2018-03-25 7:00
     * 点击图标页面跳转
     * @param url
     */
    function loadpage(url) {
        window.location.href = url;
    }

    function setBorderMove(obj) {
        obj.css("border", "2px solid #24a7e3")
    }

    function setBorderOut(obj) {
        obj.css("border", "1px solid #ccc")
    }
</script>

</html>